USE [master]
GO
/****** Object:  Database [NexDeskDb]    Script Date: 19/11/2025 10:25:33 pm ******/
CREATE DATABASE [NexDeskDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nexdesk_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\nexdesk_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'nexdesk_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\nexdesk_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NexDeskDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NexDeskDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 19/11/2025 10:25:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 19/11/2025 10:25:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [varchar](20) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Category] [varchar](100) NULL,
	[Author] [varchar](100) NULL,
	[Content] [varchar](max) NULL,
 CONSTRAINT [PK_articlesdb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 19/11/2025 10:25:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedTime] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedTime] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 19/11/2025 10:25:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [varchar](30) NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Title] [varchar](100) NULL,
	[Message] [varchar](max) NULL,
	[Experience] [nvarchar](10) NULL,
	[Date] [datetime2](7) NULL,
	[TicketId] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketAttachments]    Script Date: 19/11/2025 10:25:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketAttachments](
	[Id] [varchar](50) NOT NULL,
	[TicketId] [varchar](20) NULL,
	[Name] [varchar](255) NULL,
	[Size] [int] NULL,
	[Type] [varchar](255) NULL,
	[UploadDate] [datetime2](7) NULL,
	[Url] [varchar](2083) NULL,
 CONSTRAINT [PK_ticket_attachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 19/11/2025 10:25:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [nvarchar](450) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Priority] [varchar](10) NOT NULL,
	[Department] [varchar](50) NOT NULL,
	[SubmittedBy] [varchar](100) NOT NULL,
	[SubmittedDate] [datetime2](7) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[AssignedTo] [varchar](100) NOT NULL,
	[ResolvedBy] [varchar](100) NOT NULL,
	[ResolvedDate] [datetime2](7) NOT NULL,
	[ResolutionDescription] [varchar](max) NULL,
	[AgentFeedback] [varchar](max) NULL,
 CONSTRAINT [PK_ticketsdb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/11/2025 10:25:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [varchar](10) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[DepartmentId] [varchar](50) NOT NULL,
	[CreatedTime] [datetime2](7) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[UpdatedTime] [datetime2](7) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
