USE [master]
GO
/****** Object:  Database [nexdesk_db]    Script Date: 27/09/2025 10:53:36 am ******/
CREATE DATABASE [nexdesk_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nexdesk_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\nexdesk_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'nexdesk_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\nexdesk_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nexdesk_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nexdesk_db]
GO
/****** Object:  Table [dbo].[articlesdb]    Script Date: 27/09/2025 10:53:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articlesdb](
	[id] [varchar](20) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[category] [varchar](100) NULL,
	[author] [varchar](100) NULL,
	[content] [varchar](max) NULL,
 CONSTRAINT [PK_articlesdb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbUser]    Script Date: 27/09/2025 10:53:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbUser](
	[id] [varchar](10) NOT NULL,
	[firstname] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[username] [varchar](30) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[role] [varchar](50) NOT NULL,
	[department] [varchar](50) NOT NULL,
	[CreatedTime] [datetime2](7) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[UpdatedTime] [datetime2](7) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedbackdb]    Script Date: 27/09/2025 10:53:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedbackdb](
	[id] [varchar](30) NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[title] [varchar](100) NULL,
	[message] [varchar](max) NULL,
	[experience] [nvarchar](10) NULL,
	[date] [datetime2](7) NULL,
	[ticketId] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket_attachments]    Script Date: 27/09/2025 10:53:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_attachments](
	[id] [varchar](50) NOT NULL,
	[ticket_id] [varchar](20) NULL,
	[name] [varchar](255) NULL,
	[size] [int] NULL,
	[type] [varchar](255) NULL,
	[uploadDate] [datetime2](7) NULL,
	[ur] [varchar](2083) NULL,
 CONSTRAINT [PK_ticket_attachments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticketsdb]    Script Date: 27/09/2025 10:53:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticketsdb](
	[id] [varchar](10) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[priority] [varchar](10) NOT NULL,
	[department] [varchar](50) NOT NULL,
	[submittedBy] [varchar](100) NOT NULL,
	[submittedDate] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[assignedTo] [varchar](100) NOT NULL,
	[resolvedBy] [varchar](100) NOT NULL,
	[resolvedDate] [datetime2](7) NOT NULL,
	[resolutionDescription] [varchar](max) NULL,
	[agentFeedback] [varchar](max) NULL,
 CONSTRAINT [PK_ticketsdb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
